body {
  margin: 0;
  min-width: 1000px;
  border-top: 5px solid #7e7e7e;
  font: 12px Tahoma, sans-serif;
  color: #8f8f8f;
  background: #f7f7f7 url(../img/bg-img.png);
}

a {
  color: #b2b2b2;
  outline: none;
}

p {
  margin-top: 1.15em;
  margin-bottom: 1.35em;
  line-height: 1.3334;
  text-align: justify;
}

blockquote {
  margin: 0;
  font-style: italic;
}

.layouts-wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}

.header {
  height: 86px;
}

.header-logo {
  display: inline-block;
  margin-top: 25px;
  width: 162px;
  height: 38px;
  background: url(../img/logo-header.png) no-repeat;
}

.header-search {
  float: right;
  margin-top: 27px;
}

.header-search-input {
  height: 30px;
  width: 157px;
  padding: 0;
  border: 1px solid #e7e7e7;
  border-right: none;
  font: 1em Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: .04em;
  text-indent: .8334em;
  outline: none;
}

.header-search-input::-webkit-input-placeholder {
  text-indent: .8334em;
  color: #b2b2b2;
}

.header-search-input::-moz-placeholder {
  text-indent: .8334em;
  color: #b2b2b2;
}

.header-search-input:-moz-placeholder {
  text-indent: .8334em;
  color: #b2b2b2;
}

.header-search-input:-ms-input-placeholder {
  text-indent: .8334em;
  color: #b2b2b2;
}

.header-search-submit {
  display: block;
  float: right;
  height: 32px;
  width: 42px;
  border: 0;
  background: #29c5e6;
  font: 1.1667em Oswald, sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  cursor: pointer;
}

.top-nav {
  margin-bottom: 30px;
}

.top-nav-menu {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.top-nav-menu-item {
  display: table-cell;
  font: 1.1667em Oswald, sans-serif;
  letter-spacing: .04em;
  text-align: center;
  text-transform: uppercase;
}

.top-nav-menu-item a {
  display: inline-block;
  width: 100%;
  line-height: 2.8571;
  text-decoration: none;
}

.top-nav-menu-item a:hover,
.top-nav-menu-item a.active {
  background-color: #29c5e6;
  outline: 1px solid #29c5e6;
  color: #ffffff;
}

.slider {
  margin-bottom: 32px;
}

.slider-image {
  height: 280px;
  background: #e2e2e2;
  background-size: cover;
}

.slider-title {
  margin: 0;
  padding: 39px 38px 0;
  font: 300 3.5em/.881 Oswald, sans-serif;
  color: #5a5a5a;
  text-transform: uppercase;
}

.slider-slogan {
  margin: 0;
  padding: 10px 38px;
  font: 300 1.667em/.8 Oswald, sans-serif;
  color: #acacac;
}

.slider-nav {
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 12px 0;
  width: 100%;
  list-style-type: none;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e7e7e7;
}

.slider-nav-item {
  display: table-cell;
  counter-increment: num;
  font: 300 1.5em/1.125 Oswald, sans-serif;
  color: #8f8f8f;
  text-transform: uppercase;
  cursor: pointer;
}

.slider-nav-item.active,
.slider-nav-item:hover  {
  color: #29c5e6;
}

.slider-nav-item::before {
  display: inline-block;
  content: counter(num);
  width: 24px;
  margin: 0 12px;
  font-size: .8889em;
  padding: 4px 0;
  text-align: center;
  color: #ffffff;
  background-color: #8f8f8f;
}

.slider-nav-item.active::before,
.slider-nav-item:hover::before {
  background-color: #29c5e6;
}

.content {
  margin-bottom: 23px;
}

.content-column {
  float: left;
  width: 460px;
  padding: 0 10px;
}

.content-header {
  position: relative;
  margin: 0;
  font: 1.1667em Oswald, sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.1429;
  color: #7e7e7e;
  text-transform: uppercase;
  background: url(../img/bg-header.png) repeat-x bottom;
}

.content-header::before {
  display: inline-block;
  position: absolute;
  top: 2px;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #29c5e6;
}

.content-header span {
  display: inline-block;
  padding: 1px 6px 0 20px;
  background: url(../img/bg-img.png);
}

.figure-medium {
  float: left;
  margin: 15px 20px 15px 0;
}

.figure-medium img,
.figure-small img {
  border: 1px solid #fbfbfb;
  outline: 1px solid #cccccc;
}

.figure-small {
  margin: 0;
  padding-top: 18px;
}

.figure-small + .figure-small {
  padding-top: 11px;
}

.figure-small figcaption {
  float: right;
  width: 251px;
  font-size: .9167em;
  line-height: 1.2727;
  text-align: justify;
}

.figure-small span {
  display: block;
  color: #525252;
  text-transform: uppercase;
}

.content-link,
.content-cite {
  line-height: 16px;
  color: #525252;
}

.content-link:hover {
  color: #8f8f8f;
}

.content-cite {
  font-style: normal;
}

.teasers {
  margin-bottom: 32px;
}

.teasers-column {
  float: left;
  width: 300px;
  padding: 0 10px;
}

.clients {
  min-height: 155px;
  margin-bottom: 14px;
  padding: 0 10px;
  background: url(../img/logo-clients.png) no-repeat 50% 50%;
}

.footer {
  min-width: 1000px;
  background-color: #7e7e7e;
  padding: 10px 0 9px;
}

.footer-content {
  margin: 0 auto;
  width: 960px;
  padding: 0 20px;
}

.footer-headline {
  margin: 0 0 6px 0;
  border-bottom: 1px solid #919191;
  font: 1.1667em Oswald, sans-serif;
  letter-spacing: .04em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-news {
  float: left;
  width: 300px;
  padding: 0 10px 0 12px;
  color: #dbdbdb;
}

.footer-news-date {
  padding-left: 2px;
}

.footer-news-date,
.footer-news p  {
  font-size: .9167em;
  line-height: 1.2727;
}

.footer-news-date a {
  color: #b4aeae;
}

.footer-news p {
  margin: 6px 0;
  padding: 0 22px 0 3px;
}

.footer-sitemap {
  float: left;
  width: 150px;
  padding: 0 10px;
}

.footer-sitemap-links {
  display: inline-block;
}

.footer-sitemap-links + .footer-sitemap-links {
  margin-left: 37px;
}

.footer-sitemap-links a {
  display: block;
  margin-bottom: 7px;
  text-decoration: none;
  color: #dbdbdb;
}

.footer-sitemap-links a:hover {
  text-decoration: underline;
}

.footer-social {
  float: left;
  width: 130px;
  padding: 0 9px;
}

.footer-social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-links-item,
.footer-social-links-item-small {
  display: inline-block;
}

.footer-social-links-item {
  margin: 6px 6px 6px 0;
}

.footer-social-links-item-small {
  margin-right: 4px;
}

.footer-social-icon,
.footer-social-icon-small {
  display: inline-block;
  background: url(../img/spritesheet.png);
}

.footer-social-icon {
  width: 30px;
  height: 31px;
}

.footer-social-icon-small {
  width: 16px;
  height: 16px;
}

.footer-social-icon:hover,
.footer-social-icon-small:hover {
  opacity: .8;
}

.footer-social-icon.twitter {
  background-position: 0 0;
}

.footer-social-icon.facebook {
  background-position: -30px 0;
}

.footer-social-icon.googleplus {
  background-position: -60px 0;
}

.footer-social-icon-small.vimeo {
  background-position: 0px -32px;
}

.footer-social-icon-small.youtube {
  background-position: -16px -32px;
}

.footer-social-icon-small.flickr {
  background-position: -32px -32px;
}

.footer-social-icon-small.instagram {
  background-position: -48px -32px;
}

.footer-social-icon-small.rss {
  background-position: -64px -32px;
}

.footer-logo {
  float: right;
  font-size: .8333em;
  text-align: right;
}

.footer-logo,
.footer-logo a {
  color: #dbdbdb;
}

.footer-logo a:hover {
  color: #ffffff;
}

.footer-logo-link {
  display: inline-block;
  margin-top: 14px;
  width: 162px;
  height: 38px;
  background: url(../img/logo-footer.png) no-repeat 100% 100%;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}